<!DOCTYPE html>
<html>
<head>
    <title>APP管理</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("app:app:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("app:app:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("app:app:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">bundleId</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.bundleId" placeholder="bundleId"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.description" placeholder="描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.name" placeholder="名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">平台类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.platform" placeholder="平台类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">shortCode</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.shortCode" placeholder="shortCode"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">当前包Id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.currentId" placeholder="当前包Id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">会员id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.memberId" placeholder="会员id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">下载次数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.downloadCount" placeholder="下载次数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">0:正常   1：下架(禁止下载)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.status" placeholder="0:正常   1：下架(禁止下载)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">一般情况下，当status是1时，remark作为解说字段</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="app.remark" placeholder="一般情况下，当status是1时，remark作为解说字段"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/app/app.js?_${.now?long}"></script>
</body>
</html>