<!DOCTYPE html>
<html>
<head>
    <title>APP包管理</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("app:package:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("app:package:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("app:package:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">构建版本</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.buildVersion" placeholder="构建版本"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">BundleId</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.bundleId" placeholder="BundleId"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">额外信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.extra" placeholder="额外信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.fileName" placeholder="文件名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最低版本</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.minVersion" placeholder="最低版本"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.name" placeholder="名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">平台类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.platform" placeholder="平台类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件大小</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.size" placeholder="文件大小"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">版本</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.version" placeholder="版本"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">provisionId</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.provisionId" placeholder="provisionId"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">0:正常   1：已废弃(回退到上一个版本，当前版本废弃，只有一个版本的时候，无回退功能)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.status" placeholder="0:正常   1：已废弃(回退到上一个版本，当前版本废弃，只有一个版本的时候，无回退功能)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新日志</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.changeLog" placeholder="更新日志"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">appId</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="package.appId" placeholder="appId"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/app/package.js?_${.now?long}"></script>
</body>
</html>